# Ignorar todos los entornos virtuales llamados 'venv'
venv/

# Archivos de configuración de entorno
*.env

# Archivos de compilación de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de logs
*.log
*.out
*.err

# Archivos de caché y temporales
*.swp
*.swo
*.tmp
*.bak
*.orig

# Ignorar configuraciones de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Archivos de cobertura de tests
.coverage
htmlcov/
*.cover

# Archivos de builds y distribuciones
dist/
build/
*.egg-info/
.eggs/
.Python

# Archivos de Docker
docker-compose.override.yml

.pytest_cache

actions-runner